<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750417753457-aa54upt7jdl46ptd1nlab2pqcd4jsnvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750417753457-aa54upt7jdl46ptd1nlab2pqcd4jsnvb</string>
	<key>API_KEY</key>
	<string>AIzaSyCirfjYUdodmbiEzDcJNBprKH0iHNh-eF0</string>
	<key>GCM_SENDER_ID</key>
	<string>750417753457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sherbeny96.PreInterviewTask</string>
	<key>PROJECT_ID</key>
	<string>preinterviewtask</string>
	<key>STORAGE_BUCKET</key>
	<string>preinterviewtask.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750417753457:ios:f451686e0e83060a77b2d0</string>
</dict>
</plist>